h1
{
  font-size:60px;
  color:white;
  font-family:Lobster;
}
body
{
  background-color:black;
}
.form-control
{
  width:60%;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
}
.btn-primary
{
 margin-left:230px; 
 font-weight:bold;
 margin-top:20px;
}
#box
{
  background-color:white;
  font-family:Lobster;
  color:black;
  margin:50px 50px 50px 50px;
  border-radius:10px;
}
